@import '../utils/variables';

.home-page {
  padding: $page-indent;
  padding-bottom: 0;
  position: relative;
  display: flex;
  justify-content: space-between;

  //Data Flow Arrows
  .data-flow {
    width: 10%;
  }

  //Puzzle Box
  .crossword-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
  }

  //Instances
  .instances {
    width: 30%;
  }

  //Databases
  .dbs {
    overflow: hidden;
    width: 20%;
  }
}
