@import '../utils/variables';

.green {
  background-color: $primary-button-color;
  border: $onesspace solid $primary-border-color;
  color: #fff;
  font-weight: 200;
}

button {
  background-color: #ccc;
  border: $onesspace solid $primary-border-color;
}

.home-page {
  padding-top: $container-padding;
  padding-left: $page-indent;
  clear: both;
}

.data-flow {
  width:8vw;
  float: left;
  padding: 1vw;

  div {
    margin-top:2vw;
    position: relative;
    width: 6vw;
    height: 9vw;
  }

  img {
    width: 6vw;
    opacity: 0.5;
    position: absolute;
  }
  img.bottom {
    opacity: 0;
    -webkit-animation-name: fade;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 5s;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 5s;
  }

  @-webkit-keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 1;}
    100% {opacity: 0;}
  }
  @keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 1;}
    100% {opacity: 0;}
  }

}

.data-flow.k8instances > div {
  margin-top:7vw;
}
.puzzle {
  width: $cell-size * $nbr-of-horizontal-cells; //12 cells wide
  float: left;

  .puzzle-container {
    overflow: hidden;
    border-left: $onesspace solid $darkgrey;
  }

  .hint-container {
    padding-top: $container-padding;
    width: 20vw;

    ul li {
      white-space: nowrap;
      list-style-type: none;
      font-size: 0.8rem;

    }
    .down {
      h2 {
        font-size: 1.5vw;
        font-weight: bold;
        margin:0;
      }
    }

    .across {
      h2 {
        font-size: 1.5vw;
        margin:0;
        font-weight: bold;
      }
    }

  }

}

.instances {
  width:30vw;
  float: left;
}
.persistance {
  text-align: right;
  width:10vw;
  float: right;
  padding-right: $page-indent;

  .mongo > img, .etcd > img {
    width: 8vw;
    margin-top: 3vw;
  }

}

.controls {
  padding-top: $container-padding;

  button:nth-child(3) {
    float: right;
  }

  button:nth-child(2) {
    float: right;
    margin-left:1vw;
  }
}