@import '../utils/variables';

.loader {
    border: 16px solid $brand-gray;
    border-top: 16px solid $kubernetes-blue;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    100% { transform: rotate(360deg); }
}

.item-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin fadein-opacity($fade-time: 1s) {
            animation: fadein $fade-time ease-in-out forwards;
}

.background-fade {
  @include fadein-opacity(250ms);
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  background-color: $transparent-black;
  z-index: 11;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
