@import 'https://fonts.googleapis.com/css?family=Roboto';
@import './variables';

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    line-height: 1.5;
    margin-top: 0;

    &.bold {
        font-weight: 400;
    }

    &.inline {
        display: inline;
    }
}

// Header loop vars
$max-header-font-size: 2rem;
$header-count: 6;

// Loop through h tags to assign relational font size and bottom margin
@for $i from 1 through $header-count {
    $header-font-size: $max-header-font-size - ( ($i - 1) / $header-count);
    h#{$i},
    .h#{$i} {
        font-size: $header-font-size;
        margin-bottom: $header-font-size * .667;
    }
}

p {
  line-height: 1.5;
  font-size: 0.8rem;

  &.bold {
      font-weight: 800;
  }

  &.inline {
      display: inline;
  }
}
