// Shades
$true-white: #fff;
$off-white: #eee;
$kubernetes-blue: #326de6;
$base-font-size: 1vw;
$brand-blue: #303e48;
$brand-gray: #dee0e2;
$brand-dark-gray: #989fa4;
$primary-border-color: #333;

$cell-size: 2rem;
$nbr-of-horizontal-cells: 12;
$page-indent: 1vw;
$onesspace:2px;

$container-padding: 1vw;

// Font
$open-sans: 'Roboto', sans-serif;
