// Shades
$white: #fff;
$off-white: #eee;
$k8color: #326de6;
$base-font-size: 1rem;
$darkgrey: #303e48;

$cell-size: 2rem;
$nbr-of-horizontal-cells: 13;
$page-indent: 100px;

// Font
$open-sans: 'Roboto', sans-serif;
