@import '../utils/variables';

.primary-header {
  width: 100%;
  background-color: $true-white;

  .k8color {
    color: $kubernetes-blue;
  }

  .title {
    text-align: center;
    margin: 0;
    font-size: 3vw;

  }

  .logo {
    margin:0 0 0.5rem $page-indent;
    width: 10rem;
    position: absolute;
    top: 0;
    left: 0;
  }

  .header-border {
    background-color: $brand-blue;
    height: 1rem;
  }
}
