@import '../utils/variables';

.instance-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  align-content: flex-end;
  height: 24rem;
  margin-bottom: 1rem;
}

.instance-buttons {
  .slider-container {
    width: 75%;

    .slider {
      width: 90%;
    }
  }

  button {
    width: 25%;
  }
}
