// Shades
$true-white: #fff;
$off-white: #eee;
$kubernetes-blue: #158d8b;
$transparent-black: rgba(0,0,0,0.2);
$base-font-size: 1vw;
$brand-blue: #303e48;
$brand-gray: #dee0e2;
$brand-dark-gray: #989fa4;
$primary-border-color: #333;

$highlight-green: #9ece35;
$cell-size: 2rem;
$nbr-of-horizontal-cells: 12;
$page-indent: 3rem;
$onesspace:2px;

$container-padding: 1vw;

// Font
$open-sans: 'Roboto', sans-serif;
