@import '../utils/variables';

.primary-header {
  width: 100%;

  .k8color {
    color: $k8color;
  }

  .title {
    text-align: center;
    margin: 0;
    font-size: 3vw;

  }

  .logo {
    margin:0vw 0 0.5vw $page-indent;
    width: 10vw;
    position: absolute;
    top: 0;
    left: 0;
  }

  .primary-nav {
    background-color: $darkgrey;
    height: 1vw;
  }
}