@import '../utils/variables';

button, .button {
    cursor: pointer;
    border: none;
    font-weight: 200;
    color: $true-white;
    padding: 0.5rem 1rem;

    &.primary {
        background-color: $brand-blue;
    }
    &.secondary {
        background-color: $brand-dark-gray;
    }

    &.compact {
        font-size: 0.8rem;
        padding: 0.5rem;
    }
}
