@import '../utils/variables';

.slider {
  height: 2px;
  background-color: $brand-dark-gray;
}

.handle {
  height: 12px;
  width: 12px;
  background-color: $true-white;
  border: 3px solid $brand-dark-gray;
  border-radius: 100%;
  top: -7px;
}

.slider-count {
  position: absolute;
  top: 12px;
  left: -9px;
  font-size: 0.9rem;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
