.button-row {
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.center {
    justify-content: center;

    button, .button {
      margin: 0 0.5rem;
    }
  }
}
