@import '../utils/variables';

.data-flow {
  img {
    transform: translateX(40%);
    width: 6rem;
    opacity: 0;
    position: absolute;
    top: 25%;
    transform: translate(10%, -50%);
  }

  img.top {
    opacity: 0.5;
  }

  img.active {
    animation: fade 500ms ease-in-out;
    animation-direction: alternate;
    animation-duration: 1s;
  }
}

  @keyframes fade {
    100% {opacity: 1;}
  }
