.slider-container {
  display: flex;
  align-items: center;

  .slider-title {
    width: 40%;
  }
  .slider {
    width: 60%;
  }
}

.request-slider {
  .slider-container {
    .slider {
      width: 90%;
      margin: auto;
    }
  }
}
